mixin banner-second
    .banner-second
        .banner-second__wrap
            .w-center
                h3.banner-second__title Place surebets and valuebets without going to the bookie website.
                p.banner-second__subtitle You pick the bet – BetWasp does the rest.
                a.btn-nth(href='#') Download the App for FREE
                .banner-second__text A paid BetBurger subscription required. Log in with your BetBurger account.