$theme-name: 'theme';

//common
$primary-text: #223E4C;
$primary-fill: #fff;
$primary-title: #223E4C;

//header
$header-bg: #fff;
$header-scroll-bg: #223E4C;
$header-shadow: none;
$header-color: #223E4C;
$header-link-active: #4EC2A5;
$header-burger-color: #223E4C;


//footer
$footer-bg: #FFF;
$footer-bd: #EDF2F5;
