mixin valuebets
    .valuebets
        .valuebets__wrap
            .valuebets__left
                .valuebets__text Powered by BetWasp, the premier arbing software, <strong>BetWasp</strong> allows you to place all bets automatically, without visiting the bookie's website.
            .valuebets__right
                h4.valuebets__title Аvailable valuebets
                .valuebets__subtitle choose the bookie's you want to see the available surebets
                .valuebets__select
                    .valuebets__dropdown
                        .valuebets__caption
                            svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22ZM11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20ZM14.2929 7.29297L9.00001 12.5859L6.70712 10.293L5.29291 11.7072L9.00001 15.4143L15.7071 8.70718L14.2929 7.29297Z' fill='#4EC2A5')

                            | William Hill
                        .valuebets__list
                            .valuebets__item.selected(data-item='EN')
                                svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22ZM11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20ZM14.2929 7.29297L9.00001 12.5859L6.70712 10.293L5.29291 11.7072L9.00001 15.4143L15.7071 8.70718L14.2929 7.29297Z' fill='#4EC2A5')

                                | William Hill
                            .valuebets__item(data-item='UA')
                                svg(width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' clip-rule='evenodd' d='M11 22C4.92487 22 0 17.0751 0 11C0 4.92487 4.92487 0 11 0C17.0751 0 22 4.92487 22 11C22 17.0751 17.0751 22 11 22ZM11 20C15.9706 20 20 15.9706 20 11C20 6.02944 15.9706 2 11 2C6.02944 2 2 6.02944 2 11C2 15.9706 6.02944 20 11 20ZM14.2929 7.29297L9.00001 12.5859L6.70712 10.293L5.29291 11.7072L9.00001 15.4143L15.7071 8.70718L14.2929 7.29297Z' fill='#4EC2A5')

                                | William Hill
                .valuebets__place
                    |You can place:&nbsp;
                    span.colored
                        |325&nbsp;
                        span valuebets
                    span with this bookmaker
                a.valuebets__link(href='#') Try it free, today