mixin banner
    .banner
        .w-center
            .banner__wrap
                .banner__left
                    h3.banner__title Place your bets by pressing a single button. Automatically.
                    .banner__subtitle Enter your bookie account details and pick the bets. <br>BetWasp will do the rest.
                    .banner__btn
                        a.btn-nth(href="#") Download the App for FREE
                        .banner__text A paid BetBurger subscription required. <br>Log in with your BetBurger account.
                .banner__right
                    .banner__image
                        img(src="static/img/content/banner-bg.png" alt="banner image")