mixin countries
    .countries
        .countries__dropdown
            .countries__caption
                img(src="static/img/content/eng.png" alt="logo")
            .countries__list
                .countries__item.selected(data-item='EN')
                    img(src="static/img/content/eng.png" alt="logo")
                .countries__item(data-item='UA')
                    img(src="static/img/content/ukr.png" alt="logo")
