mixin footer()
    footer.footer
        .w-center
            .footer__wrapper
                .footer__wrap
                    .footer__list
                        ul
                            li
                                a.footer__link(href="#") What is Arbitrage Betting?
                            li
                                a.footer__link(href="#") What are Surebets?
                            li
                                a.footer__link(href="#") What are Valuebets?
                            li
                                a.footer__link(href="#") Forum
                    .footer__list
                        ul
                            li
                                a.footer__link(href="#") Live arbs
                            li
                                a.footer__link(href="#") Prematch arbs
                            li
                                a.footer__link(href="#") Valuebets
                            li
                                a.footer__link(href="#") Odds Comparison
                    .footer__list
                        ul
                            li
                                a.footer__link(href="#") Contact us
                            li
                                a.footer__link(href="#") Calculator
                            li
                                a.footer__link(href="#") Bookmakers
                            li
                                a.footer__link(href="#") FAQ
                    .footer__list
                        ul
                            li
                                a.footer__link(href="#") Service
                            li
                                a.footer__link(href="#") News
                            li
                                a.footer__link(href="#") Affiliate Program
                .footer__social
                    ul
                        li
                            a.footer__link(href="#")
                                svg(xmlns='http://www.w3.org/2000/svg' width='22' height='16' viewBox='0 0 22 16' fill='none')
                                    path(d='M21.5467 2.41027C21.2931 1.46781 20.5501 0.724927 19.6078 0.471144C17.8862 0 10.9998 0 10.9998 0C10.9998 0 4.11357 0 2.39197 0.453184C1.46781 0.706799 0.706632 1.46798 0.453016 2.41027C0 4.1317 0 7.70178 0 7.70178C0 7.70178 0 11.2898 0.453016 12.9933C0.706799 13.9356 1.44969 14.6786 2.39214 14.9324C4.1317 15.4036 11 15.4036 11 15.4036C11 15.4036 17.8862 15.4036 19.6078 14.9504C20.5502 14.6968 21.2931 13.9537 21.5469 13.0114C21.9999 11.2898 21.9999 7.71991 21.9999 7.71991C21.9999 7.71991 22.018 4.1317 21.5467 2.41027Z' fill='#CCCCCC')
                                    path(d='M8.80725 11.0002L14.5337 7.702L8.80725 4.40381V11.0002Z' fill='#fff')

                        li
                            a.footer__link(href="#")
                                svg(xmlns='http://www.w3.org/2000/svg' width='20' height='18' viewBox='0 0 20 18' fill='none')
                                    path(d='M0.353259 8.34964L4.96167 10.0696L6.7454 15.8061C6.85953 16.1735 7.3088 16.3093 7.607 16.0655L10.1758 13.9714C10.4451 13.752 10.8286 13.741 11.11 13.9453L15.7432 17.3091C16.0622 17.541 16.5141 17.3662 16.5941 16.9807L19.9882 0.654632C20.0756 0.233564 19.6618 -0.117703 19.2609 0.0373643L0.347859 7.33344C-0.118874 7.51344 -0.114808 8.17424 0.353259 8.34964ZM6.45793 9.15404L15.4645 3.6069C15.6263 3.5075 15.7929 3.72637 15.6539 3.8553L8.22087 10.7646C7.9596 11.0078 7.79107 11.3333 7.74334 11.6866L7.49014 13.563C7.4566 13.8135 7.10467 13.8384 7.03553 13.5959L6.06173 10.1742C5.9502 9.78398 6.11273 9.36711 6.45793 9.15404Z' fill='#CCCCCC')
                        li
                            a.footer__link.footer__message(href="#")
                                svg(xmlns='http://www.w3.org/2000/svg' width='22' height='15' viewBox='0 0 22 15' fill='none')
                                    path(d='M21.7065 1.25391L14.0991 7.04936L21.7221 13.6081C21.8992 13.2733 22 12.8922 22 12.4878V2.40409C22 1.98768 21.8935 1.59577 21.7065 1.25391Z' fill='#CCCCCC')
                                    path(d='M19.5959 0H2.40411C1.93089 0 1.48948 0.137973 1.11707 0.375074L10.604 7.48524C10.8417 7.6597 11.1602 7.66004 11.3982 7.4864L20.7994 0.324285C20.4452 0.118465 20.0342 0 19.5959 0Z' fill='#CCCCCC')
                                    path(d='M13.0507 7.84814L12.1672 8.52125C11.8188 8.7785 11.4103 8.90715 11.0019 8.90715C10.5935 8.90715 10.1852 8.77855 9.83666 8.52125L9.83292 8.5185L8.95064 7.85725L1.17102 14.5507C1.53179 14.7672 1.95361 14.892 2.40409 14.892H19.5959C20.0493 14.892 20.4737 14.7657 20.8361 14.5466L13.0507 7.84814Z' fill='#CCCCCC')
                                    path(d='M0.250723 1.33691C0.0905352 1.65871 0 2.02093 0 2.40417V12.4879C0 12.8952 0.102094 13.2789 0.281574 13.6153L7.89418 7.06546L0.250723 1.33691Z' fill='#CCCCCC')
            .footer__bottom
                .footer__logo
                    a(href="/")
                        img(src="static/img/content/logo.svg" alt="logo")
                .footer__middle
                    .footer__privacy
                        ul
                            li
                                a.footer__privacy-link(href="#") Privacy Policy
                            li
                                a.footer__privacy-link(href="#") Terms of use
                    .footer__privacy-text 2013-2019 (с) BetBurger All rights reserved <br>www.betburger.com is owned and operated by Aspira Limited
                .footer__security
                    ul
                        li
                            a.footer__link(href="#")
                                img(src="static/img/content/support.png" alt="support image")

                        li
                            a.footer__link(href="#")
                                img(src="static/img/content/18+.png" alt="18+ img")